<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="car-info">
    <header>
    </header>

    <p>{{ dadosCarro.brand }}</p>
    <p>{{ dadosCarro.model }}</p>
    <p>{{ dadosCarro.price }}</p>
    <p>{{ dadosCarro.juros }}</p>
    <p>{{ dadosCarro.entrada }}</p>
    <p>{{ dadosCarro.meses }}</p>
</body>

</html>